AI_STACK_OPENWEBUI_FRONTEND_IP=10.0.0.73
AI_STACK_OPENWEBUI_FRONTEND_MAC=92:83:01:01:AA:73
AI_STACK_OPENWEBUI_PORT=3000

AI_STACK_LMSTUDIO_FRONTEND_IP=10.0.0.74
AI_STACK_LMSTUDIO_FRONTEND_MAC=92:83:01:01:AA:74
AI_STACK_LMSTUDIO_PORT=1234

AI_STACK_FLOWISE_FRONTEND_IP=10.0.0.75
AI_STACK_FLOWISE_FRONTEND_MAC=92:83:01:01:AA:75
AI_STACK_FLOWISE_PORT=3001

AI_STACK_N8N_FRONTEND_IP=10.0.0.76
AI_STACK_N8N_FRONTEND_MAC=92:83:01:01:AA:76
AI_STACK_N8N_PORT=5678

AI_STACK_LANGFUSE_FRONTEND_IP=10.0.0.77
AI_STACK_LANGFUSE_FRONTEND_MAC=92:83:01:01:AA:77
AI_STACK_LANGFUSE_PORT=3100

AI_STACK_NEO4J_FRONTEND_IP=10.0.0.78
AI_STACK_NEO4J_FRONTEND_MAC=92:83:01:01:AA:78
AI_STACK_NEO4J_HTTP_PORT=7474
AI_STACK_NEO4J_BOLT_PORT=7687

AI_STACK_SEARXNG_FRONTEND_IP=10.0.0.79
AI_STACK_SEARXNG_FRONTEND_MAC=92:83:01:01:AA:79
AI_STACK_SEARXNG_PORT=8081

AI_STACK_LOCALAI_PORT=8080
AI_STACK_QDRANT_PORT=6333
AI_STACK_SUPABASE_STUDIO_PORT=54323

AI_STACK_N8N_DB_PASSWORD=change_me
AI_STACK_N8N_ENCRYPTION_KEY=change_me_long_random
AI_STACK_NEO4J_PASSWORD=change_me
AI_STACK_LANGFUSE_DB_PASSWORD=change_me
AI_STACK_LANGFUSE_NEXTAUTH_SECRET=change_me_long_random

AI_STACK_SUPABASE_ANON_KEY=change_me
AI_STACK_SUPABASE_SERVICE_ROLE_KEY=change_me
AI_STACK_SUPABASE_POSTGRES_PASSWORD=change_me
AI_STACK_SUPABASE_JWT_SECRET=change_me
